@model WebApplication1.Controllers.CartController.SampleObject
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index22222222222222222222</h2>
<h2>Name : @Model.Name</h2>
<h2>Phone: @Model.Phone</h2>
<h2>@ViewData["data"]</h2>
<h2>@ViewBag.Datac</h2>
<h2>@TempData["data"]</h2>
@ViewBag.HtmlData
@Html.Raw(ViewBag.HtmlData)


