@model IEnumerable<ViewModels.ProductDetailViewModel>
@{
    ViewBag.Title = "ProductsManage";
    Layout = "~/Views/Shared/BackEnd_Layout.cshtml";
}

<h2>ProductsManage</h2>



<div class="row">

    <div class="col-1">
        <a></a>
    </div>
    <div class="col-2">
        <a>種類</a>
    </div>
    <div class="col-2">
        <a>產品名稱</a>
    </div>
    <div class="col-1">
        <a>尺寸</a>
    </div>
    <div class="col-1">
        <a>顏色</a>
    </div>
    <div class="col-1">
        <a>存貨</a>
    </div>
</div>
@{ 
    int i = 0;
}
@foreach (var item in Model)
{
<div class="row">

    <div class="col-1">

    </div>
    <div class="col-2">
        @item.Category
    </div>
    <div class="col-2">
        @item.ProductName
    </div>
    <div class="col-1">
        @item.SizeType
    </div>
    <div class="col-1">
        @item.Color
    </div>
    <div class="col-1">
        @item.Stock
    </div>
    <div class="col-1">
        <button class="btn btn-primary">修改</button>
    </div>
    <div class="col-1">
        <button class="btn btn-danger">刪除</button>
    </div>
</div>
}


